*{
    margin: 0;
    padding: 0;
}

header{
    background: black;
    width: 100;
    height: 50px;
}
li{
    display: inline-block;
    justify-content: center;
}
.enlaces-header{
    color: white;
    display: block;
    text-decoration: none;
    justify-content: space-between;
}